.about-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
  align-items: start;
}

.about-content p {
  margin-bottom: 15px;
  color: var(--secondary-color);
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 10px;
  padding: 0;
  margin: 20px 0 0 0;
  overflow: hidden;
  list-style: none;
}

.skill-item {
  position: relative;
  padding-left: 20px;
  color: var(--secondary-color);
  font-size: 14px;
}

.skill-arrow {
  position: absolute;
  left: 0;
  color: var(--primary-color);
  line-height: 12px;
}

.about-img {
  position: relative;
}

.about-img-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: var(--primary-color);
  transition: var(--transition);
}

.about-img-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: var(--transition);
}

.about-img-wrapper:hover img {
  filter: none;
}

.about-img-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  z-index: 0;
  transition: var(--transition);
}

.about-img-wrapper:hover .about-img-overlay {
  top: 15px;
  left: 15px;
}

@media (max-width: 768px) {
  .about-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .about-img {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .about-img-wrapper {
    max-width: 250px;
    margin-bottom: 70px;
  }
}